
var splice = function (str) {
  if (!str) return
  return str.substring(0, str.indexOf('?'))
}

var replace = function (str, reg, replacement) {
  if (!str) return
  return str.replace(reg, replacement)
}

var substring = function (str, start, length) {
  if (!str) return
  return str.substring(start, length)
}

var toString = function (seconds) {
  if (!seconds) return
  var minutes = parseInt(seconds / 60)
  var secondss = seconds % 60
  if (secondss < 10) {
    secondss = '0' + secondss
  }
  return minutes + ':' + secondss
}

module.exports = {
  splice: splice,
  replace: replace,
  substring: substring,
  toString: toString
}
